@charset "UTF-8";

/**
 * @author Michel Kingma-Lord <0801342@csfoy.ca>
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Grille
 * Mise en page
 *** entête
 *** main
 *** formulaire
 *** interactivité
 *** footer
 *** Erreurs // MAINTENIR la table des matières à jour en y ajoutant les subdivisions
 */


/* Normalize
   ========================================================================== */
@import url(normalize.css);

/* Utilitaires
   ========================================================================== */
 @import url(utilitaires.css);

/* Charte typographique
   ========================================================================== */
@import url(typo.css);

/* Grille
   ========================================================================== */
 @import url(grille.css);

/* Mise en page
   ========================================================================== */

.rangee {
   list-style: none;
}


/**************************
Arrière Plan
*************************/

.coupon_participation_formulaire, .question_du_jour {
   background-color: lightgrey;
   border-radius: 1rem;
   border: none
}


/**************************
Banderole
*************************/

.titre {
   width: 100%;
   padding: var(--padding-text);
   margin-bottom: 0;
}

legend {
   padding-top: 2rem;
}

/**************************
Balisage des images
*************************/

img {
   margin-left: 0;
}

/**************************
Section
*************************/

/* Boutons radios accessibles
   ========================================================================== */

/*** Form ***/
label {
   /* placer les étiquettes au-dessus des champs de saisie */
   display: block;
}
input[type=text],
input[type=email],
input[type=tel] {
   /* pleine largeur pour la plupart des champs de saisie */
   display: inline-block;
   width: 100%;
   padding: 0.5rem;
   border-radius: 0.5rem;
}

/*** Label des boutons radio ***/
/* le sélecteur met à profit
le fait que le label est consécutif
au input (cas des boutons radio et des cases à cocher)
*/
input[type=radio]+label {
   display: inline-block;  
   text-align: center;
   border:2px solid transparent;
}

/*** Interactivité des boutons radio***/
[type=radio]:hover+label { 
   cursor: pointer;
}
[type=radio]:hover+label,
[type=radio]:focus+label { 
   border:2px solid #09c231;
}
[type=radio]:checked+label { 
   border:2px solid #068221;
}

/** Mettre des tonalités de gris sur les images à survoler */
[type=radio]:hover+label img,
[type=radio]:focus+label img { 
   filter:grayscale(0);
}

[type=radio]+label img { 
   filter:grayscale(1);
}

/*** Interactivité des boutons input***/
.date input {
   padding: 0.85rem;
}

/* Interactivité générale */

:focus {
   outline: green auto 10px;
}

/**** Screen Reader ***/
.screen-reader-only, .visuallyhidden {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
   }

/*** Bouton de soumission ***/
button{
   padding: 0.5rem;
   background-color: #d6dfcf;
}
button:hover,
button:focus{
   background-color:    lightgreen;
}

/*** Erreurs ***/
.message-erreur{
   color: orangered;
}

